flow.JSON
[{"id":"d391e5da.18ec58","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"f1cbe190.9c63b","type":"lora in","name":"","datatype":"utf8","x":106,"y":122.4444580078125,"z":"5fc74541.d5102c","wires":[["e6ae1a95.2a5288","ce8d8c59.e3f76"]]},{"id":"e6ae1a95.2a5288","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":375.22222900390625,"y":65,"z":"5fc74541.d5102c","wires":[]},{"id":"9db74a28.2b8868","type":"mqtt out","name":"MQTT alive signal","topic":"lora/alive","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":660,"y":100.55555725097656,"z":"5fc74541.d5102c","wires":[]},{"id":"4e2d0e0a.aa69f","type":"inject","name":"","topic":"","payload":"Hello!","payloadType":"string","repeat":"","crontab":"","once":false,"x":135.22222900390625,"y":202.11111450195312,"z":"5fc74541.d5102c","wires":[["9db74a28.2b8868","e6ae1a95.2a5288","9beb2657.831488"]]},{"id":"9beb2657.831488","type":"mqtt out","name":"MQTT bluetooth device count","topic":"lora/bluetooth","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":660,"y":185,"z":"5fc74541.d5102c","wires":[]},{"id":"ce8d8c59.e3f76","type":"function","name":"Parse lora packet","func":"var data = JSON.parse(msg.payload)\n// Necessary to create object wrappers because\n// MQTT nodes ask for the payload attribute\nvar aliveObj = {payload:data.aliveMsg}\nvar devObj = {payload:data.devCount}\nreturn [aliveObj,devObj]","outputs":"2","noerr":0,"x":356,"y":135,"z":"5fc74541.d5102c","wires":[["9db74a28.2b8868","42e7ed8f.1f95c4"],["9beb2657.831488","3a5f496c.38ba76"]]},{"id":"3a5f496c.38ba76","type":"debug","name":"devCount","active":true,"console":"false","complete":"payload","x":607,"y":257,"z":"5fc74541.d5102c","wires":[]},{"id":"42e7ed8f.1f95c4","type":"debug","name":"aliveMsg","active":true,"console":"false","complete":"payload","x":660,"y":66,"z":"5fc74541.d5102c","wires":[]}]
