flow.JSON
[{"id":"d391e5da.18ec58","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"af044171.3e74f","type":"debug","name":"DebugPrint","active":true,"console":"false","complete":"payload","x":310,"y":79,"z":"5fc74541.d5102c","wires":[]},{"id":"dfba3e97.30e16","type":"inject","name":"","topic":"","payload":"Hello!","payloadType":"string","repeat":"","crontab":"","once":false,"x":55,"y":208.11111450195312,"z":"5fc74541.d5102c","wires":[["af044171.3e74f","4cdaaa54.1205f4"]]},{"id":"4cdaaa54.1205f4","type":"mqtt out","name":"MQTT bluetooth device count","topic":"lora/bluetooth","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":649.7777709960938,"y":42,"z":"5fc74541.d5102c","wires":[]},{"id":"ce059c46.9e57","type":"function","name":"Parse lora packet","func":"var strArr = msg.payload.split(\",\")\nvar data = JSON.parse(JSON.stringify(strArr))\n// Necessary to create object wrappers because\n// MQTT nodes ask for the payload attribute\nvar devMsg = \"Devices found: \" + data[0]\nvar devObj = {payload:devMsg}\n\nvar loudMsg = \"Loudness: \" + data[1] + \" dB\"\nvar loudObj = {payload:loudMsg}\n\nvar tempMsg = \"Temperature: \" + data[2] + \" C\"\nvar tempObj = {payload:tempMsg}\n\nvar humMsg = \"Humidity: \" + data[3] + \"%\"\nvar humObj = {payload:humMsg}\n\nreturn [devObj,loudObj,tempObj,humObj]\n","outputs":"4","noerr":0,"x":317.77777099609375,"y":176,"z":"5fc74541.d5102c","wires":[["4cdaaa54.1205f4","3398d2e4.4a01de"],["5aab1c38.93f584","9102c6e.fad5338"],["d977dd63.ed2d5","496d929d.c57b9c"],["8e2cd810.156928","c4c31505.634d78"]]},{"id":"3398d2e4.4a01de","type":"debug","name":"devCount","active":true,"console":"false","complete":"payload","x":666.7777709960938,"y":76,"z":"5fc74541.d5102c","wires":[]},{"id":"9ac9df64.9178a","type":"lora in","name":"Lora","datatype":"utf8","x":103.77777099609375,"y":90,"z":"5fc74541.d5102c","wires":[["af044171.3e74f","ce059c46.9e57"]]},{"id":"d977dd63.ed2d5","type":"mqtt out","name":"MQTT temperature","topic":"lora/temperature","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":599.7777709960938,"y":216,"z":"5fc74541.d5102c","wires":[]},{"id":"5aab1c38.93f584","type":"mqtt out","name":"MQTT loudness","topic":"lora/loudness","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":635.7777709960938,"y":134,"z":"5fc74541.d5102c","wires":[]},{"id":"8e2cd810.156928","type":"mqtt out","name":"MQTT humidity","topic":"lora/humidity","qos":"0","retain":"false","broker":"d391e5da.18ec58","x":610.7777709960938,"y":286,"z":"5fc74541.d5102c","wires":[]},{"id":"9102c6e.fad5338","type":"debug","name":"","active":true,"console":"false","complete":"false","x":717.7777709960938,"y":165,"z":"5fc74541.d5102c","wires":[]},{"id":"496d929d.c57b9c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":619.7777709960938,"y":245,"z":"5fc74541.d5102c","wires":[]},{"id":"c4c31505.634d78","type":"debug","name":"","active":true,"console":"false","complete":"false","x":667.7777709960938,"y":320,"z":"5fc74541.d5102c","wires":[]}]
